.contact .content h2 {
    margin-left: 160px;
    margin-top: 40px;
    color: rgb(95, 17, 190);
    font-size: 30px;
}

.contact .content h3 {
    font-weight: bold;
    color: rgb(240, 10, 6);
    margin-left: 25px;
}

.contact .content p {
    margin-left: 25px;
}

.contact .content img {
    height: 40%;
    width: 50%;
    align-items: right;
    margin-left: 220px;
    color: transparent;
}

.container {
    margin-left: 50px;
    margin-top: -150px;
}

.icon {
    float: left;

}
